*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f4f4f4;
  color: #555; */
  font-family: 'Lato', 'Arial', sans-serif;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h3 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 150%;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: #2caeba;
  margin-left: auto;
  margin-right: auto;
}
.title {
  text-align: center;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.light {
  color: #111;
  background-color: #fff;
}

.dark {
  color: #fff;
  background-color: #111;
}
.left {
  float: left;
  border-radius: 10px;
}

.btn {
  padding: 10px 30px;
  font-weight: 300;
  text-transform: uppercase;
  background: transparent;
  margin: 10px;
  border: 1px solid #e67e22;
  color: #e67e22;
  outline: none;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #0042a4;
  border-radius: 50%;
  border-top: 16px solid #3775cf;
  border-right: 16px solid #619bee;
  border-bottom: 16px solid #96bff9;
  border-left: 16px solid #c9e0ff;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

button {
  cursor: pointer;
}
.loader-text {
  margin-top: 20px;
  font-size: 1.5rem;
}

.error {
  background-color: #ff7a7a;
}

.strong {
  font-weight: 600;
}

.card {
  /* background-color: #fff; */
  border-radius: 10px;
  width: 70%;
  box-shadow: 0 2px 2px #efefef;
  margin: 35px;
}

.card div {
  padding: 20px;
  border-bottom: 1px solid #e8e8e8;
}

.right {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.right i {
  font-size: 1.2rem;
  color: #e67e22;
}

.center {
  text-align: center;
  margin: 5px;
  padding: 5px;
}

@media screen and (max-width: 730px) {
  .container {
    max-width: 710px;
    margin: 5px;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-container {
    display: flex;
    align-items: center;
  }
  .display {
    display: block;
  }

  .card {
    width: 90%;
  }
}

@media only screen and (max-width: 520px) {
  .container {
    max-width: 510px;
    margin: 5px;
    align-items: center;
    justify-content: center;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .display {
    display: block;
  }

  .card {
    width: 95%;
  }

  .btn-container {
    display: flex;
    align-items: center;
  }

  .left {
    float: left;
    border-radius: 5px;
  }

  .btn {
    padding: 7px 15px;
    font-weight: 300;
    text-transform: uppercase;
    background: transparent;
    margin: 5px;
    border: 1px solid #e67e22;
    color: #e67e22;
    outline: none;
  }

  .right {
    margin: 0;
    font-size: 90%;
  }

  span {
    padding: 2px;
  }
}

@media screen and (max-width: 350px) {
  .btn-container {
    display: flex;
    align-items: center;
  }
}
